<div class="container mt-4">
  <div class="card">
    <div class="card-header bg-secondary text-white">
      Customer Visit Details
    </div>

    <div *ngIf="isLoading" class="loader-overlay">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <div *ngIf="!isLoading" class="card-body">
      <div class="row">
        <!-- CUSTOMER NAME -->
        <div class="col-md-6 mb-3">
          <strong>Customer Name:</strong>
          {{ customerVisit.customer?.name }}
        </div>
        <div class="col-md-6 mb-3">
          <strong>Visited By:</strong>
          {{ customerVisit.user?.name }}
        </div>
        <!-- VISIT DATE -->
        <div class="col-md-6 mb-3">
          <strong>Visit Date:</strong>
          {{ customerVisit.visitDate | dateFormat : "DEFAULT" }}
        </div>

        <!-- LATITUDE -->
        <div class="col-md-6 mb-3">
          <strong>Latitude:</strong>
          {{ customerVisit.latitude }}
        </div>

        <!-- LONGITUDE -->
        <div class="col-md-6 mb-3">
          <strong>Longitude:</strong>
          {{ customerVisit.longitude }}
        </div>

        <!-- CUSTOMER VISIT TYPE -->
        <div class="col-md-6 mb-3">
          <strong>Customer Visit Type:</strong>
          {{ customerVisit.customerVisitType?.name }}
        </div>

        <!-- REASON -->
        <div class="col-md-6 mb-3">
          <strong>Reason:</strong>
          {{ customerVisit.reason }}
        </div>

        <!-- REVISIT DATE -->
        <div class="col-md-6 mb-3">
          <strong>Revisit Date:</strong>
          {{ customerVisit.revisitDate | dateFormat : "DEFAULT" }}
        </div>

        <!-- STATUS -->
        <div class="col-md-12 mb-3">
          <strong>Status:</strong>
          <span
            class="badge p-0 px-2 py-1 fs-7 small-badge"
            style="font-size: 10px; margin-left: 7px"
            [class.bg-success]="customerVisit.status === 'Active'"
            [class.bg-danger]="customerVisit.status === 'Inactive'"
          >
            {{ customerVisit.status }}
          </span>
        </div>
        <!-- CREATED BY -->
        <div class="col-md-6 mb-3">
          <strong>Created By:</strong>
          {{ customerVisit.createdBy?.name || "N/A" }}
        </div>

        <!-- CREATED ON -->
        <div class="col-md-6 mb-3">
          <strong>Created On:</strong>
          {{ customerVisit.createdOn | dateFormat : "DEFAULT" }}
        </div>

        <!-- UPDATED BY -->
        <div class="col-md-6 mb-3">
          <strong>Updated By:</strong>
          {{ customerVisit.updatedBy?.name || "N/A" }}
        </div>

        <!-- UPDATED ON -->
        <div class="col-md-6 mb-3">
          <strong>Updated On:</strong>
          {{ customerVisit.updatedOn | dateFormat : "DEFAULT" }}
        </div>

        <!-- IMAGE PREVIEW -->
        <div class="col-md-12">
          <strong>Images:</strong>
          <div class="product-image-container">
            <div class="image-box" *ngFor="let image of customerVisit.images">
              <img
                [src]="getFullImageUrl(image.imageUrl)"
                alt="Product Image"
                class="product-image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer text-end">
      <button
        class="btn btn-secondary ms-2"
        (click)="router.navigate(['main/customer/customerVisit-list'])"
      >
        Back to List
      </button>
    </div>
  </div>
</div>
