.form-check-input {
    cursor: pointer;
    width: 30px;
    height: 15px;
    margin-top: 7px;
}

.form-check-label {
    /* margin-left: 5px; */
    font-weight: 500;
    font-size: 12px;
}

.sticky-header th {
    position: sticky;
    top: 0;
    z-index: 10; /* Ensures header stays above content */
}