<div>
  <div class="d-flex align-items-center justify-content-between gap-2 mb-15">
    <h3 class="mb-0">Customer Visits</h3>
  </div>

  <div class="row mb-4 mt-2">
    <!-- Filter by User -->
    <div class="col-md-3">
      <label for="user" class="form-label">👤 User</label>
      <select
        id="user"
        class="form-control"
        [(ngModel)]="selectedUserId"
        (change)="onSearch()"
      >
        <option value="0" selected>Select a user</option>
        <option *ngFor="let user of userList" [value]="user.id">
          {{ user.name }}
        </option>
      </select>
    </div>

    <!-- Filter by Customer -->
    <div class="col-md-3">
      <label for="customer" class="form-label">🏢 Customer</label>
      <select
        id="customer"
        class="form-control"
        [(ngModel)]="selectedCustomerId"
        (change)="onSearch()"
      >
        <option value="0" selected>Select a customer</option>
        <option *ngFor="let customer of customerList" [value]="customer.id">
          {{ customer.name }}
        </option>
      </select>
    </div>

    <!-- Filter by Visit Date -->
    <div class="col-md-3">
      <label for="visitDate" class="form-label">📅 Visit Date</label>
      <input
        type="date"
        id="visitDate"
        class="form-control"
        [(ngModel)]="visitDate"
        (change)="onSearch()"
      />
    </div>

    <!-- Filter by Visit Type -->
    <div class="col-md-3">
      <label for="visitType" class="form-label">📌 Visit Type</label>
      <select
        id="visitType"
        class="form-control"
        [(ngModel)]="selectedCustomerVisitTypeId"
        (change)="onSearch()"
      >
        <option value="0" selected>Select a visit type</option>
        <option *ngFor="let type of customerVisitTypeList" [value]="type.id">
          {{ type.name }}
        </option>
      </select>
    </div>
  </div>

  <!-- Ngx-Datatable for Customer Visit List -->
  <ngx-datatable
    class="bootstrap"
    [rows]="visits"
    [columnMode]="'force'"
    [headerHeight]="40"
    [footerHeight]="40"
    [rowHeight]="'auto'"
    [limit]="pageSize"
    [count]="totalRecords"
    [externalPaging]="true"
    [externalSorting]="true"
    (sort)="onSort($event)"
    (page)="onPage($event)"
  >
    <ngx-datatable-column
      name="ID"
      prop="id"
      width="70"
      [sortable]="true"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="User"
      prop="user.name"
      [sortable]="true"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="Customer"
      prop="customer.name"
      [sortable]="true"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="Visit Date"
      prop="visitDate"
      [sortable]="true"
      [cellTemplate]="visitDateTemplate"
    ></ngx-datatable-column>

    <ng-template #visitDateTemplate let-row="row" ngx-datatable-cell>
      {{ row.visitDate | date : "dd/MM/yyyy" }}
    </ng-template>

    <ngx-datatable-column
      name="Visit Type"
      prop="customerVisitType.name"
      [sortable]="true"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="Reason"
      prop="reason"
      [sortable]="true"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="Revisit Date"
      prop="revisitDate"
      [cellTemplate]="ReVisitDateTemplate"
      [sortable]="true"
    ></ngx-datatable-column>
    <ng-template #ReVisitDateTemplate let-row="row" ngx-datatable-cell>
      {{ row.revisitDate | date : "dd/MM/yyyy" }}
    </ng-template>

    <ngx-datatable-column
      name="Actions"
      width="150"
      [sortable]="false"
      [cellTemplate]="actionTemplate"
    >
    </ngx-datatable-column>

    <ng-template #actionTemplate let-row="row">
      <div>
        <button class="btn btn-info btn-sm ms-2" (click)="viewVisit(row)">
          View
        </button>
      </div>
    </ng-template>
  </ngx-datatable>
</div>
