.form-check-input {
    cursor: pointer;
    width: 30px;
    height: 15px;
    margin-top: 7px;
}

.form-check-label {
    font-size: 12px;
    font-weight: bold;
    color: #495057;
}
.sticky-header th {
    position: sticky;
    top: 0;
    z-index: 10; /* Ensures header stays above content */
}