<div>
  <div class="d-flex align-items-center justify-content-between gap-2 mb-15">
    <h3 class="mb-0">Product</h3>
    <button class="btn btn-success" (click)="navigateToAddProduct()">
      Add Product
    </button>
  </div>

  <div class="row mb-4 mt-2">
    <!-- Search Input -->
    <div class="col-md-4">
      <label for="search" class="form-label">🔍 Search Product</label>
      <input
        type="text"
        id="search"
        class="form-control"
        placeholder="Enter product name or category..."
        [(ngModel)]="searchTerm"
        (keyup)="onSearch()"
      />
    </div>

    <!-- Filter by Category -->
    <div class="col-md-4">
      <label for="category" class="form-label">📂 Filter by Category</label>
      <select
        id="category"
        class="form-control"
        [(ngModel)]="selectedCategory"
        (change)="onSearch()"
      >
        <option value="0" selected>Select a category</option>
        <option *ngFor="let category of categoryList" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
    </div>

    <!-- Filter by Status -->
    <div class="col-md-4">
      <label for="status" class="form-label">⚡ Filter by Status</label>
      <select
        id="status"
        class="form-control"
        [(ngModel)]="selectedStatus"
        (change)="onSearch()"
      >
        <option value="" selected>Select status</option>
        <option *ngFor="let status of statusList" [value]="status">
          {{ status }}
        </option>
      </select>
    </div>
  </div>

  <!-- Ngx-Datatable for Product List -->
  <ngx-datatable
    class="bootstrap"
    [rows]="products"
    [columnMode]="'force'"
    [headerHeight]="40"
    [footerHeight]="40"
    [rowHeight]="'auto'"
    [limit]="pageSize"
    [count]="totalRecords"
    [externalPaging]="true"
    [externalSorting]="true"
    (sort)="onSort($event)"
    (page)="onPage($event)"
  >
    <ngx-datatable-column
      name="ID"
      prop="id"
      width="70"
      [sortable]="true"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="Name"
      prop="name"
      [sortable]="true"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="Category"
      prop="productCategory.name"
      [sortable]="true"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="HS Code"
      prop="hsCode"
      [sortable]="true"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="GST (%)"
      prop="gstPer"
      [sortable]="true"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="Created By"
      prop="createdByUser.name"
      [sortable]="false"
    ></ngx-datatable-column>

    <ngx-datatable-column
      name="Created On"
      width="150"
      [sortable]="true"
      [cellTemplate]="createdOnTemplate"
    >
    </ngx-datatable-column>
    <ng-template #createdOnTemplate let-row="row" ngx-datatable-cell>
      {{ row.createdOn | date : "dd/MM/yyyy" }}
    </ng-template>

    <!-- Status Column -->
    <ngx-datatable-column
      name="Status"
      width="120"
      [cellTemplate]="StatusTemplate"
      [sortable]="true"
    >
    </ngx-datatable-column>

    <ng-template #StatusTemplate let-row="row" ngx-datatable-cell>
      <span
        class="badge p-0 px-2 py-1 fs-7 small-badge"
        style="font-size: 10px"
        [class.bg-success]="row.status === 'Active'"
        [class.bg-danger]="row.status === 'InActive'"
      >
        {{ row.status }}
      </span>
    </ng-template>

    <ngx-datatable-column
      name="Actions"
      width="150"
      [sortable]="false"
      [cellTemplate]="actionTemplate"
    >
    </ngx-datatable-column>

    <ng-template #actionTemplate let-row="row">
      <div class="d-flex gap-2">
        <button
          class="btn btn-primary btn-sm"
          (click)="editProduct(row)"
          title="Edit Product"
        >
          <i class="bi bi-pencil-square"></i>
        </button>
        <button
          class="btn btn-info btn-sm"
          (click)="viewProduct(row)"
          title="View Product"
        >
          <i class="bi bi-eye"></i>
        </button>
      </div>
    </ng-template>
  </ngx-datatable>
</div>
