@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


/*pagination css end */

html, body {
  height: 100%;
  width: 100%;
}

app-root {
  /* display: flex; */
  height: 100vh;
  width: 100%;
}
