<div class="container mt-4">
    <div class="d-flex align-items-center justify-content-between my-3">
        <h3 class="mb-0">User Management</h3>
        <button class="btn btn-success" (click)="navigateToAddUser()">Add User</button>
    </div>
    <!-- Search Input -->
    <div class="mb-4 mt-2">
      <input
        type="text"
        class="form-control"
        placeholder="Search by name, email..."
        [(ngModel)]="searchTerm"
        (keyup)="searchUsers()"
      />
    </div>
  
    <!-- Ngx-Datatable for User List -->
    <ngx-datatable
      class="bootstrap"
      [rows]="users"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      
      [limit]="pageSize"
      [count]="totalRecords"
      [externalPaging]="true"
      [externalSorting]="true"
      (sort)="onSort($event)"
      (page)="onPage($event)">
 
      <!-- Created On Column -->
      <ngx-datatable-column name="ID" prop="id" width="70"  [sortable]="true"></ngx-datatable-column>
      <ngx-datatable-column name="Username" prop="username"  [sortable]="true" ></ngx-datatable-column>
      <ngx-datatable-column name="Name" prop="name"  [sortable]="true" ></ngx-datatable-column>
      <!-- <ngx-datatable-column name="Email" prop="email" ></ngx-datatable-column>
      <ngx-datatable-column name="Contact No" prop="contactNo" ></ngx-datatable-column> -->
      <ngx-datatable-column name="Role" prop="role.name"  [sortable]="false"></ngx-datatable-column>
      <ngx-datatable-column name="Created By" prop="createdBy.name"   [sortable]="false"></ngx-datatable-column>
      <ngx-datatable-column 
          name="createdOn" 
          width="150" 
          [sortable]="true"
          [cellTemplate]="createdOnTemplate">
     </ngx-datatable-column>
      <ng-template #createdOnTemplate let-row="row" ngx-datatable-cell>
        {{ row.createdOn | date: 'dd/MM/yyyy' }}
      </ng-template>

      <ngx-datatable-column 
      name="Actions" 
      width="150" 
      [sortable]="false"
      [cellTemplate]="actionTemplate">
  </ngx-datatable-column>

<ng-template #actionTemplate let-row="row">

<div>
  <button class="btn btn-primary btn-sm" style="font-size: 12px;" (click)="editUser(row)">Edit</button>
</div>
</ng-template>


    </ngx-datatable>
  </div>
  