<div>
  <div class="d-flex align-items-center justify-content-between gap-2 mb-15">
    <h3 class="mb-0">User Management</h3>
    <button class="btn btn-success" (click)="navigateToAddUser()">
      Add User
    </button>
  </div>
  <!-- Search Input -->
  <div class="row mb-4 mt-2">
    <!-- Search Input -->
    <div class="col-md-4">
      <label for="search" class="form-label">🔍 Search Product</label>
      <input
        type="text"
        id="search"
        class="form-control"
        placeholder="Enter name or category..."
        [(ngModel)]="searchTerm"
        (keyup)="searchUsers()"
      />
    </div>

    <!-- Filter by Category -->
    <div class="col-md-4">
      <label for="role" class="form-label">📂 Filter by Role</label>
      <select
        id="role"
        class="form-control"
        [(ngModel)]="selectedRole"
        (change)="onSearch()"
      >
        <option value="0" selected>Select a Role</option>
        <option *ngFor="let role of roleList" [value]="role.id">
          {{ role.name }}
        </option>
      </select>
    </div>

    <!-- Filter by Status -->
    <div class="col-md-4">
      <label for="status" class="form-label">⚡ Filter by Status</label>
      <select
        id="status"
        class="form-control"
        [(ngModel)]="selectedStatus"
        (change)="onSearch()"
      >
        <option value="" selected>Select status</option>
        <option *ngFor="let status of statusList" [value]="status">
          {{ status }}
        </option>
      </select>
    </div>
  </div>

  <!-- Ngx-Datatable for User List -->
  <ngx-datatable
    class="bootstrap"
    [rows]="users"
    [columnMode]="'force'"
    [headerHeight]="40"
    [footerHeight]="40"
    [rowHeight]="'auto'"
    [limit]="pageSize"
    [count]="totalRecords"
    [externalPaging]="true"
    [externalSorting]="true"
    (sort)="onSort($event)"
    (page)="onPage($event)"
  >
    <!-- Created On Column -->
    <ngx-datatable-column
      name="ID"
      prop="id"
      [sortable]="true"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="Username"
      prop="username"
      [sortable]="true"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="Name"
      prop="name"
      [sortable]="true"
    ></ngx-datatable-column>
    <!-- <ngx-datatable-column name="Email" prop="email" ></ngx-datatable-column>
      <ngx-datatable-column name="Contact No" prop="contactNo" ></ngx-datatable-column> -->
    <ngx-datatable-column
      name="Role"
      prop="role.name"
      [sortable]="false"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="Created By"
      prop="createdBy.name"
      [sortable]="false"
    ></ngx-datatable-column>
    <ngx-datatable-column
      name="createdOn"
      [sortable]="true"
      [cellTemplate]="createdOnTemplate"
    >
    </ngx-datatable-column>
    <ng-template #createdOnTemplate let-row="row" ngx-datatable-cell>
      {{ row.createdOn | dateFormat : "DEFAULT" }}
    </ng-template>

    <!-- Status Column -->
    <ngx-datatable-column
      name="Status"
      [cellTemplate]="StatusTemplate"
      [sortable]="true"
    >
    </ngx-datatable-column>

    <ng-template #StatusTemplate let-row="row" ngx-datatable-cell>
      <span
        class="badge p-0 px-2 py-1 fs-7 small-badge"
        style="font-size: 10px"
        [class.bg-success]="row.status === 'Active'"
        [class.bg-danger]="row.status === 'InActive'"
      >
        {{ row.status }}
      </span>
    </ng-template>

    <ngx-datatable-column
      name="Actions"
      [sortable]="false"
      [cellTemplate]="actionTemplate"
    >
    </ngx-datatable-column>

    <ng-template #actionTemplate let-row="row">
      <div class="d-flex gap-2">
        <button
          class="btn btn-primary btn-sm"
          (click)="editUser(row)"
          title="Edit User"
        >
          <i class="bi bi-pencil-square"></i>
        </button>
        <button
          class="btn btn-primary btn-sm"
          (click)="viewUser(row)"
          title="View User"
        >
          <i class="bi bi-eye"></i>
        </button>
      </div>
    </ng-template>
  </ngx-datatable>
</div>
